body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
/*Global */
.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.button-1{
    height: 26px;
    background: orangered;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
#btn{
    margin-top: 5px;
    font-size: 1em;
}
.dark{
    color: white;
    background:#35424a;
    padding: 15px;
    margin-top:10px;
    margin-bottom: 10px;
}
#shark{
    margin-top: 60px;
}
/*header*/
header{
    background: #35424a;
    color: white;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: 3px solid red;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    padding:0px 20px 0px 20px;
    float: left;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float:right ;
    margin-top: 10px;
}
header .highlight,header .current a{
    color:orangered;
    font-weight:bold;
}
header a:hover{
    color: navy;
    font-size: 16px;
    font-weight: bold;
}
#showcase{
    min-height: 350px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/lights.jpg) no-repeat 0 -230px;
    text-align: center;
    color: white;
}
#showcase h1{
    margin-top: 100px;
    font-size: 41px;
    margin-bottom: 10px;
}
#showcase p{
    font-size:20px;
}
#newsletter{
    padding: 15px;
    color:white;
    background: #35424a;
}
#newsletter h1{
    float:left;
}
#newsletter form{
    float: right;
    margin-top: 22px;
}
#newsletter form input[type="email"]{
    padding:4px;
    height: 25px;
    width: 250px;
}
#boxes{
    margin-top: 20px;

}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width: 75px;
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
article#main-col{
    float:left ;
    width: 65%;
    margin-top: 10px;
}
/*servicees*/
ul#services li{
    list-style: none;
    padding:20px;
    border:1px solid #cccccc;
    margin-bottom: 5px;
    background: hsl(0, 3%, 62%);
}
footer{
    text-align: center;
    margin-top:20px;
    padding:8px;
    background: orangered;
    color:white;
    font-weight: bold;
}
@media(max-width:600px){
     header #branding,header nav,header nav li,
     #newsletter h1,#newsletter form,
     #boxes .box,article#main-col,aside#sidebar
     {
         text-align: center;
         float: none;
         width:100% ;
     }
     header{
         padding-bottom: 20px;
     }
     #showcase h1{
         margin-top: 40px;
     }
     #newsletter button{
         display: block;
         width: 100%;
     }
     .quote button{
        width: 90%;
     }
     #newsletter form input[type="email"],.quote input,.quote textarea{
         width: 100%;
         margin-bottom: 5px;
     }
}
